<h1>T'as reconnu l'équipe !</h1>
<p>Voici l'équipe de choc de The Gossip Project !</p>

<section class="page-group">
  <div class="row text-center">
    <div class="col-md-4">
    <%= image_tag("Hubert.png", alt: "Hubert", class:"img_logo_thirst") %>
    <h2>Hubert Bonisseur de la Bath</h2>
    <p class="text-muted">Alias OSS 117, aime se beurer la biscotte et les boules de Noël.</p>
    </div>
    <div class="col-md-4">
    <%= image_tag("Bill.png", alt: "Bill", class:"img_logo_second") %>
    <h2>Bill Trumendous</h2>
    <p class="text-muted">Ah ce bon vieux Bill ! Toujours le mot pour rire.</p>
    </div>
    <div class="col-md-4">
    <%= image_tag("Jack.png", alt: "Jack", class:"img_logo_third") %>
    <h2>Jack Jefferson</h2>
    <p class="text-muted">Il est mauvais Jack !</p>
    </div>
    </div>
    </div>
</div>
</section>
