<h1>Nous contacter</h1>
<p>Pour contacter notre superbe équipe ? Rien de plus simple !</p>

<section class="contact-page">
  <div class="row text-center">
<p>Envoyez-nous un mail en cliquant ci-dessous :</p><a href="mailto:TheGossipProject@gmail.com">The Gossip Project</a>
</div>
</section>

